.gradle
build/
classes/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
.java-version
.idea
truth.md
instruction.md
fix.patch
test.patch
golden.patch